/* here is some sass to test compilation */

$color1:  rgb(231, 231, 231);
$color2:  rgb(43, 43, 43);
$color3:  rgb(32, 104, 114);
$color4:  rgb(0, 65, 65);
$color-disabled: rgb(151, 151, 151);


html {
    height: 100%;
    
}

body {
    color: $color2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 8px;
    height: 100%;
}

%control {
    height: 35px;
    padding: 0px 4px;
    border-radius: 6px;
    font-weight: 600;
    margin: 4px;

}
button {
    @extend %control;
    background-color: $color3;
    color: $color1;
    border-style: none;
    cursor: pointer;
}
button:disabled {
    background-color: $color-disabled;
}

input {
    @extend %control;
    border: 1px solid $color1;
}


table {

    thead {
        background-color: $color3;
        color: $color1;
        th {
            padding: 4px;
            
        }
    }
    
}

.layout {
    
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;

    .nav-bar {
        grid-row: 1;
        grid-column: 1 / span 2;        
        background-color: $color3;
        color: $color1;
        font-size: 18px;
        padding: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .side-bar {
        grid-row: 2;
        grid-column: 1;
        background-color: $color2;
        padding: 16px;
        grid-row: 2;
        a {
            margin: 16px auto;
            display: block;
            color: $color1;
        }
    }

    .content {
        grid-row: 2;
        grid-column: 2;
        padding: 16px;
        min-height: 600px;
    }

    .footer {
        grid-row: 3;
        grid-column: 1 / span 3;
        background-color: $color1;
        padding: 8px;
        font-size: 10px;
    }
}

.view-title {
    background-color: $color3;
    padding: 8px;
    color: $color1;
}
